######################################
# Maven
######################################
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties

######################################
# Frontend build
######################################
/src/main/resources/static/

######################################
# Logs
######################################
*.log
logs/

######################################
# Spring Boot
######################################
*.class
*.jar
*.war

######################################
# Local configuration (секреты)
######################################
.env
application-local.yml
application-local.yaml
application-local.properties
application-dev.yml
application-dev.yaml

######################################
# IDE
######################################
.idea/
*.iml

.vscode/

.project
.classpath
.settings/

######################################
# OS
######################################
.DS_Store
Thumbs.db


